.vector_cache/
.data/sst/trainDevTestTrees_PTB.zip
models/
bert/models_sst/pytorch_model.bin
algo/__pycache__/soc_transformer.cpython-37.pyc
bert/__pycache__/modeling.cpython-37.pyc
lm/__pycache__/__init__.cpython-37.pyc
lm/__pycache__/lm.cpython-37.pyc
bert/cache/etag.json
bert/cache/26bc1ad6c0ac742e9b52263248f6d0f00068293b33709fae12320c0e35ccfbbb.542ce4285a40d23a559526243235df47c5f75c197f04f37d1a0c124c32c9a084.json
bert/cache/26bc1ad6c0ac742e9b52263248f6d0f00068293b33709fae12320c0e35ccfbbb.542ce4285a40d23a559526243235df47c5f75c197f04f37d1a0c124c32c9a084
bert/__pycache__/modeling.cpython-37.pyc
algo/__pycache__/soc_transformer.cpython-37.pyc
bert/__pycache__/modeling.cpython-37.pyc
algo/__pycache__/soc_transformer.cpython-37.pyc
lm/__pycache__/__init__.cpython-37.pyc
lm/__pycache__/lm.cpython-37.pyc
nns/__pycache__/layers.cpython-37.pyc
outputs/sst/soc_bert_results/soc.sst_demo2.txt
outputs/sst/soc_bert_results/soc.sst_demo2_encoder0.txt
vocab/vocab_sst_bert.pkl
*.pyc
*.png
bert/__pycache__/modeling.cpython-37.pyc
algo/__pycache__/soc_transformer.cpython-37.pyc
bert/pytorch_model.bin
